.navbar{
  background-color: lightgreen;
  display: flex;
  justify-content: space-evenly;
}
.navbar a{
  color: white;
  font-size: 1.8rem;
  text-decoration: none;
  padding: 1%;
}
.navbar a:hover{
  color: blue;
}